# Libraries

In [3]:
import pandas as pd

# Ch1: Data Acquisition

## 1.1 Scraping tables

### Your answer:

In [13]:
link = 'https://3083218.youcanlearnit.net/geographytables.html'

df = pd.read_html(link)

pd.DataFrame(df[2])

   Rank       State  Total Area in Sq Mi
0     1      Alaska               665000
1     2       Texas               268000
2     3  California               163000
3     4     Montana               147000
4     5  New Mexico               121000
5     6     Arizona               113000

### Answer:

In [12]:
table_link = "https://3083218.youcanlearnit.net/geographytables.html"

area_data = pd.read_html(table_link, match = "Area")

area_data = area_data.pop()

area_data

   Rank       State  Total Area in Sq Mi
0     1      Alaska               665000
1     2       Texas               268000
2     3  California               163000
3     4     Montana               147000
4     5  New Mexico               121000
5     6     Arizona               113000

### 1.2 Finding CSS Selectors