## Libraries

In [1]:
import pandas as pd

from bs4 import BeautifulSoup
import requests

## Ch1: Data Acquisition

### 1.1 Scraping tables

#### Your answer:

In [13]:
link = 'https://3083218.youcanlearnit.net/geographytables.html'

df = pd.read_html(link)

pd.DataFrame(df[2])

   Rank       State  Total Area in Sq Mi
0     1      Alaska               665000
1     2       Texas               268000
2     3  California               163000
3     4     Montana               147000
4     5  New Mexico               121000
5     6     Arizona               113000

#### Answer:

In [12]:
table_link = "https://3083218.youcanlearnit.net/geographytables.html"

area_data = pd.read_html(table_link, match = "Area")

area_data = area_data.pop()

area_data

   Rank       State  Total Area in Sq Mi
0     1      Alaska               665000
1     2       Texas               268000
2     3  California               163000
3     4     Montana               147000
4     5  New Mexico               121000
5     6     Arizona               113000

### 1.2 Finding CSS Selectors

In [ ]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

otlink = "https://hplussport.net/#people"

pgread = requests.get(otlink)

soup = BeautifulSoup(page_read.content)

board_names = soup.select(".card-name")
len(board_names)
board_roles = soup.select(".card_title")
len(board_roles)


results = []

for i in range(len(board_roles)):
  person_name = board_names[i].text
  person_role = board_roles[i].text
  result_df = pd.DataFrame(
    data = [[person_name, person_role]], 
    columns = ['Name', 'Role'])
  results.append(result_df)
  
results = pd.concat(results)

### 1.3 Scraping text

In [ ]:
from bs4 import BeautifulSoup
import pandas as pd
import requests


link = "https://3083218.youcanlearnit.net/rainieststate.html"

page_read = requests.get(link)

soup = BeautifulSoup(page_read.content)

state_result = soup.select_one("p:last-of-type").string

state_result = state_result.strip()

state_data = {0: ['State'], 1: [state_result]} 

state_data = pd.DataFrame(state_data)

table = pd.read_html(link, match = "Capital")

table = table.pop()

table = table.append(state_data)

table = table.rename(columns={0: "info", 1: "stat"})

table = table.pivot(columns = "info", values = "stat")

table_fill = table.bfill()

table_fill.drop(range(1, len(table_fill)))

### 1.4 Finding APIs

In [ ]:
import pandas as pd
import requests

link = "https://3083218.youcanlearnit.net/dataTable.html"

response = requests.get("https://3083218.youcanlearnit.net/rank.json?_=1662342121475")

state_data = pd.read_json(response.content)

state_data = pd.DataFrame(state_data['data'].to_list(), columns = ['rank', 'state', 'rainfall'])

### 1.5 Getting JSON into Pandas

In [ ]:
import pandas as pd
import requests

base_link = 'https://pixelford.com/api/image/id/'

pixelford_list = []

for i in range(20):
    individual_link = base_link + str(i)
    initial_request = requests.get(individual_link)
    json_results = initial_request.content
    pixelford_list.append(pd.read_json(json_results))

pixelford_list = pd.concat(pixelford_list)

## Ch2: Data Prep

### 2.1 Constructing regular expressions

In [15]:
import pandas as pd

dollar_values = {'dollar_values': ['$10.00', '$1,00', '$10', '$10.01', '$1,000.01']} 

dollar_data = pd.DataFrame(dollar_values)

dollar_data['dollar_values'] = dollar_data['dollar_values'].str.replace('\\$', '')

dollar_data['dollar_values'] = dollar_data['dollar_values'].str.replace(',(?=[0-9]{2}$)', '')

dollar_data['dollar_values'] = dollar_data['dollar_values'].str.replace(',', '')

#dollar_data['dollar_values'] = dollar_data['dollar_values'].astype(float)

#dollar_data['dollar_values'].mean()

### 2.2 Cleaning text

### 2.3 Selecting Variables

### 2.4 Scaling Variables

### 2.5 Reducing Dimensionality

## Ch3: EDA

### 3.1 Describing Data

### 3.2 Finding Correlations

### 3.3 Visualizing Correlations

### 3.4 Multivariable visualizations